#header{
    width: 100%;
    height: 110px;

    position: fixed;
    display: flex;
    justify-content: center;
}
#header h1{
   width: 120px;
   height: 41.5px;

    position: absolute;
    left: calc(100vw * (185 / 1920));
    top: 25%;
    background-image: url(../image/main/sub_logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#gnb{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gnb ul{
    width: calc(100vw * (680 / 1920));
    height: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: "GS";
    text-transform: uppercase;
}
/* @media screen and (max-size: 1440px) {
    #gnb ul{
        width: calc(100vw * (680 / 1440));
        height: 20px;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        font-family: "GS";
        text-transform: uppercase;
    }
} */
#gnb ul li a{
    width: fit-content;
    height: fit-content;

    display: block;

    color: #000;
    font-family: "GS";
    font-size: calc(100vw * 18 / 1920);
}
#snb{
    width: calc(100vw * (400 / 1920));
    height: 100vh;

    position: absolute;
    left: 0;
    top: 0;
    padding-left: calc(100vw * (185 / 1920));
    padding-top: calc(100vw * (150 / 1920));

    border-right: 1px solid #D9D9D9;
}
#snb ul{
    width: calc(100vw * (150 / 1920));
    height: calc(100vw * (120 / 1920));

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#snb ul li{
    width: 100%;
    height: fit-content;

    padding-left: 30%;
    
    background-position: left center;
    background-size: calc(100vw * (20 / 1920));
    background-repeat: no-repeat;
}

#snb ul li a{
    width: 100%;
    height: fit-content;

    display: block;
    text-align: left;

    color: #000;
    font-family: "GS";
    font-size: calc(100vw * (20 / 1920));
}